@import url('https://fonts.googleapis.com/css2?family=Edu+SA+Hand:wght@400..700&family=Edu+VIC+WA+NT+Hand:wght@400..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/* 
字型用法
<weight>: Use a value from 400 to 700
<uniquifier>: Use a unique and descriptive class name

.edu-sa-hand-<uniquifier> {
    font-family: "Edu SA Hand", cursive;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
}
*/

/* 
或者可以直接使用在 body 中

body {
    font-family: "Edu SA Hand", cursive;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}
*/

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: "Edu SA Hand", cursive;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    justify-content: center;
    align-items: center;
}

li {
    width: 120px;
    font-size: 30px;
}

a {
    text-decoration: none;
    color: #000;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

time {
    font-size: 20px;
}

h2 {
    color: #0027D5;
    font-size: 30px;
}

p {
    margin: 0px auto;
    font-size: 20px;
}

.container {
    width: 1296px;
    margin: 0 auto;
}

.common-circle {
    border: solid 1px #000;
    padding: 5px 10px;
    border-radius: 30px;
}

.span-hashtag {
    background: #0027D5;
    color: #fff;
}

.href-hashtag {
    font-size: 25px;
    color: #0027D5;
    padding: 0px 10px 0px 0px;
}

.header {
    display: flex;
    gap: 40px;
}

.header-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.header-tags {
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 10px 0px;
}

.content {
    max-width: 636px;
    margin: 0 auto;
    padding-bottom: 20px;
}

.content-word {
    padding-bottom: 20px;
}

.content-summary {
    background-color: #EDEDED;
    padding: 20px;
    border-radius: 24px;
}

.pagination {
    display: flex;
    justify-content: space-between;
    margin-top: 48px;
}

.page-circle {
    border: 1px solid #000000;
    padding: 8px 16px;
    border-radius: 40px;
    background-color: #FBFBFB;
    color: #4B4B4B;
}

.footer {
    width: 100%;
    height: 208px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid #E5E5E5;
}

.footer p {
    width: 1039px;
    font-size: 32px;
    font-weight: 500;
    color: #000;
}

.footer-icons {
    display: flex;
    gap: 4px;
}

.footer-icons li {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.copyright {
    background: #fff;
    width: 100%;
    height: 72px;
    line-height: 24px;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px 0;
}

@media (max-width: 1399.98px) {
    .container {
        width: 100%;
        padding: 40px 40px;
    }
}

@media (max-width: 767.98px) {
    .container {
        width: 100%;
        padding: 40px 12px;
    }
    .footer {
        height: 1px;
    }
    .footer * {
        display: none;
    }
}